body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
}

button{
    margin: 5px 5px 0;
    font-size: 16px;
    font-weight: 700;
}

#value{
    border: 1px solid black;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}